@charset "utf-8";

// 文章標題
h1.title,
h2.title {
    font-size: 2em;
    line-height: 1.25em;
    margin: 1em 0;
}

// .tt{ color: #222; }
.cp {
    position: relative;

    &:before{
        content:"";
        position: absolute;
        width: 100%;
        height: calc(100% - 100px);
        bottom: 0;
        left: 0;
        background:#fff url(../images/cp_bg.png) top  center repeat-y;
        background-size: 100%;
    }

    .pic {
        float: left;
        margin: 0px 1em 1em 0;
        width: auto;
        width: 45%;
        max-width: 400px;
        background: #f1f1f1;
        overflow: hidden;
        padding: 0.5em 0.5em 0.2em;

        img {
            float: none;
            width: 100%;
            margin: 0;
            display: block;
        }

        span {
            text-align: center;
            display: block;
            font-size: 0.938em;
        }

        @include screen('mobile') {
            float: none;
            max-width: 100%;
            width: auto;
            margin: 0px auto;
            display: block;
            margin-bottom: 0.5em;
        }
    }

    table {
        background: #fff;
    }

    img {
        &.float_left {
            float: left;
            margin: 0px 1em 1em 0;
            width: auto;
            max-width: 55%;

            @include screen('mobile') {
                float: none;
                max-width: 100%;
                margin: 0px auto;
            }
        }

        &.float_right {
            float: right;
            margin: 0px 0 1em 1em;
            width: auto;
            max-width: 55%;

            @include screen('mobile') {
                float: none;
                max-width: 100%;
                margin: 0px auto;
            }
        }
    }

    a {
        @include aSetting;
    }

    .publish_info {
        font-size: 0.875em;
        line-height: 1.5em;
        list-style: none;
        margin: 0 0 0.7em 0;
        border-left: solid 5px $primaryColor;
        padding: 0.8em 1.5em 0.8em;
        background: #f2f2f2;
        display: flex;
        flex-wrap: wrap;
        @extend %clearfix;
        box-sizing: border-box;

        li {
            flex: 1 1 calc(100% / 3);
            margin-bottom: 0.5em;

            @include screen('tablet') {
                flex: 1 1 calc(100% / 2);
            }

            @include screen('mobile') {
                flex: 1 1 calc(100% / 1);
            }
        }
    }
}

// 檔案下載
.file_download {
    @include clearfix();

    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin:0 .3em .5em;


        .file_item {
            position: relative;
            display: flex;
            padding: .3em 2.8em .3em .8em;
            border-bottom: solid 1px #eee;
            border-radius: 30px;
            min-width: 3.5em;
            background: #fff;
            color: $color-word2;
            font-size: .938em;
            align-items: center;
            transition: .2s ease-in;

            &:after {
                content: "";
                display: block;
                width: 1em;
                height: 1em;
                position: absolute;
                background: url(../images/basic/icon_download.svg) no-repeat center;
                background-size: contain;
                right: 1em;
                top: calc(50% - 8px);
                transition: .2s ease-in;
            }

            &:hover {
                color: $aHover;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

                &:after {
                    transform: translateY(1px);
                }
            }
        }

        .file_name {
            line-height: 1.8em;
            margin: 0.2em 0.5em 0.2em 0;
            color: #222;
        }

        $fileType: doc,
        docx,
        odt,
        xls,
        xlsx,
        csv,
        ods,
        ppt,
        pptx,
        odp,
        zip,
        txt,
        mov,
        mp3,
        jpg,
        wmv,
        mp4,
        pdf,
        other;

        @each $fileType in $fileType {
            span.file_#{$fileType} {
                display: inline-flex;
                color: #fff;
                min-width: 2.4em;
                height: 2.4em;
                padding: 4px;
                border-radius: 20px;
                font-size: .75rem;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                margin-right: .8em;

                &.file_doc,
                &.file_docx,
                &.file_odt {
                    background: #275cb7;
                }

                &.file_xls,
                &.file_xlsx,
                &.file_csv,
                &.file_ods {
                    background: #387947;
                }

                &.file_ppt,
                &.file_pptx,
                &.file_odp {
                    background: #275cb7;
                }

                &.file_pdf {
                    background: #c00;
                }

                &.file_zip {
                    background: #eb712e;
                }

                &.file_txt,
                &.file_other {
                    background: #555;
                }

                &.file_mov {
                    background: #009999;
                }

                &.file_mp3,
                &.file_mp4 {
                    background: #088ecc;
                }

                &.file_jpg {
                    background: #6c29a4;
                }

                &.file_wmv {
                    background: #430a1f;
                }
            }
        }

        span {
            display: flex;
            align-items: center;

        }
    }
}

// 外部連結
.web_link {
    margin: 1em 0;
    @extend %clearfix;

    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }

    ol,
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        position: relative;
        padding: 0.25em 0;
        border-bottom: solid 1px #eee;
        padding-left: 1.5em;

        &:before {
            content: '·';
            font-size: 2em;
            font-weight: bold;
            width: 1em;
            height: 1em;
            position: absolute;
            top: 0.25em;
            left: 0.1em;
            color: #666;
        }

        a {
            padding: 0.2em 0px;
            display: block;
            @include aSetting_nocolor;
        }
    }
}

.keywords{
    margin: 2em 0;
    ul{
        display: flex;
        flex-wrap: wrap;
        @include li-reset;
    }
    li{
        margin-right: .5em; 
        a{
            display: block;
            padding: .3em 1em;
            min-width: 120px;
            border-radius: 30px;
            text-align: center;
            color: #fff;
            transition: .2s ease-in;
            font-size: .938em;
            background: linear-gradient(45deg, $importantColor 0%, darken($importantColor, 10) 100%);

            &:hover{
                color: #fff;
                background: linear-gradient(235deg, $primaryColor 0%, $importantColor 100%);
            }
        }
    }
}