//_list.scss
.list_hasImg{
	&.journal{
		.imgBlock{
			a{
				&:after{
					content:"MORE";
				}
			}
		}
	}
}

.searchBlock{
	.accordion_btn{
		&:after{
            content:"Close";
        }
        &.active{
            &:after{
                content: "Open";
            }
        }
	}
}

.shareBlock{
	&.sticky{
		&:before{
			content: "Share";
		}
	}
}